.contact {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      font-size: 1.5rem;
    }
    button {
      border: none;
      background-color: inherit;
      font-size: 6.4rem;
    }
  }
}
.wrapper {
  margin: 2rem 0;
}

.input__wrapper {
  border: 1px black solid;
  label {
    padding: 0 3em;
  }
  input {
    padding: 1em;
    border: none;
    border-left: 1px black solid;
  }
}

.message__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  label {
    text-align: center;
    padding: 1em 0;
  }
  textarea {
    border: none;
    border-top: 1px black solid;
  }
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  p {
    font-size: 3.6rem;
  }
  a {
    font-size: 6.4rem;
    padding: 1em 0;
  }
}
