nav ul {
  list-style: none;
}

.header {
  padding: 2em;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .portfolio {
      flex-grow: 1;
      text-align: center;
      font-size: 4rem;
    }
    ul {
      font-size: 1.2rem;
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }
  }
}
