.hero {
  width: 100%;
  height: auto;
}
.intro {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-top: 10 0;
  padding-top: 15%;
  padding-bottom: 3em;
}

.name {
  display: flex;
  align-items: center;
  h1 {
    font-size: 9.6rem;
  }
}

.intro__text {
  &__presentation {
    font-size: 2.4rem;
  }
  &__link {
    font-size: 1.8rem;
    color: #616161;
  }
}
