@import 'header';
@import 'home';
@import 'latest_work';
@import 'contact';
@import 'footer';
@import 'work';
@import 'about';

html {
  font-size: 62.5%;
  font-family: 'jost', sans-serif;
  // width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark__mode {
  background-color: black;
  color: white;
  &__btn {
    background-color: wheat;
  }
}
